@charset 'UTF8';

body {

    background-color: rgb(88, 194, 185);
    border-radius: 1px solid black;
    
    
}




header {
   
    border: 1px;
    border-radius: 1px solid rgb(61, 6, 122);
    height: 100px;
}

.cabeçario {
        text-align: center;
        display: flex;
        
}

.cabeçario2{
    text-align: center;
    display: flex;
   
}

div {
    
    margin: auto;
}

header >h1 {
    background-image: url(imagens/dvolta+.jpeg);
    color: rgb(247, 234, 234);
    text-align: center;
    text-decoration: arial;
    border: 1px;
    border-radius: 1px solid rgb(218, 0, 54);
}

a {
    color: black;
    font-size: 1em;

}

li {
    text-decoration: arial;
    margin: 20px;
}

.travesia{
    background-image: url(imagens/dvolta+.jpeg);
   border: 2em;
}

.travesia a {
  
    font-size: 20px;
    border-radius: 1px solid blue;
    color: white;
    text-decoration: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px solid white;
    
}

.hinosdequinta {
    color: black;
    font-size: 1.5em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
